/*unvisited link*/
	a:link {color: blue; text-decoration:none;}
/*visited link*/
	a:visited {color: red; text-decoration:none;}
/*hovering over link*/
	a:hover{background-color:orange; text-decoration:underline;}