h1{
	text-align:center;
	Font-family:Lucida Console;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}
h5{
	text-align:center;
}
/*unvistied link*/
	a:link {color: #4169e1;}
/*visited link*/
	a:visited {color: orange;}
/*hovering over link*/
	a:hover{background-color:yellow; Font-weight: bold;}
/*active*/
	a:active{text-decoration: none;}